@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    animation: color 1s ease-in-out;
}

:root{
    --bg: #fff;
    --bg1: #f8f9fa;
    --teal: #3dc6c1;
    --teal1: #17a2b8;
    --text: #191d29;
    --text1: #0c0f48;
    --danger: #da5757; 
    --lightgray: #eee;
}

.dark{
    --bg: #191d29;
    --bg1: #2e3241;
    --text: #fff;
    --text1: #f8f9fa;
    --lightgray: #ddd;
}

body{
    background: var(--bg);
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    font: inherit;
}

br{
    display: none;
}

/* header section */

header{
    padding: 20px 55px 0px 30px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img{
    height: 65px;
    padding: 10px;
}

header .center-menu{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

header .center-menu li button,
header .center-menu li a{
    padding: 7px 21px;
    background: var(--bg1);
    color: var(--text);
    border-radius: 10px;
}

header .right-menu{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
header .right-menu li{
    padding: 5px 0;
}

/* prograss bar */
header .right-menu li .progress-bar{
    padding: 3px;
    background: conic-gradient(var(--teal) 100%, var(--lightgray) 0%);
    border-radius: 50%;
}
header .right-menu li .progress-bar .counter{
    width: 30px;
    height: 30px;
    background: var(--bg);
    color: var(--teal);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* telegram button */
header .right-menu li a{
    padding: 7px 21px;
    background: var(--teal);
    color: var(--bg);
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 10px;
    font-size: 14px;
    white-space: nowrap;
}
header .right-menu li a img{
    width: 15px;
    height: 15px;
}

/* theme input and switch */
header .right-menu li input[type="checkbox"]{
    display: none;
}

header .right-menu li .theme-switcher{
    width: 60px;
    height: 35.5px;
    padding: 5px;
    background: var(--bg1);
    display: inline-block;
    border-radius: 26px;
    cursor: pointer;
    position: relative;
}

header .right-menu li .theme-switcher .point{
    width: 25px;
    height: 25px;
    background: var(--teal);
    border-radius: 50%;
    position: absolute;
    left: 5px;
    transition: all .5s ease;
}

header .right-menu li input[type="checkbox"]:checked ~ .theme-switcher .point{
    left: 30px;
}

/* main section */

main{
    margin: 0 25px;
}

.overview{
    padding: 10px 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.overview .box{
    text-align: center;
}

.overview .box h3{
    color: var(--teal);
    font-weight: 400;
    font-size: 40px;
}

.overview .box span{
    color: var(--text1);
    opacity: .45;
    font-weight: 300;
}

.overview .box h2{
    font-size: 28px;
    font-weight: 300;
    color: var(--text1);
    opacity: .45;
    letter-spacing: .75px;
}

.overview .box h1{
    font-size: 80px;
    font-weight: 400;
    color: var(--text1);
    padding-bottom: 10px;
}


.overview .box h4{
    font-size: 16px;
    font-weight: 300;
    color: var(--text1);
    opacity: .45;
    letter-spacing: .75px;
}

table{
    padding: 30px 0px 20px 0px;
    width: 100%;
    max-width: 100%;
    border-collapse: separate;
    border-spacing: 0 1em;
    text-align: center;
}

table tr th{
    font-size: 16px;
    opacity: .45;
    color: var(--text1);
    letter-spacing: 1px;
    margin: 0 0 -5px;
}

table tbody tr{
    background: var(--bg1);
    border-radius: 10px;
}
table tbody tr td{
    color: var(--text1) !important;
}

table tbody tr td:nth-child(2){
    color: var(--text) !important;
}

table tbody td{
    padding: 15px;
    font-size: 17px;
    white-space: nowrap;
    font-weight: 500;
}

table tbody td a{
    display: flex;
    align-items: center;
    justify-content: center;
}

table tbody td:first-child{
    border-radius: 10px 0 0 10px;
}

table tbody td:last-child{
    border-radius: 0 10px 10px 0;
}

table tbody td img{
    width: 24px;
    height: 24px;
    margin-right: 15px;
}

table tbody tr td.profit{
    color: var(--teal) !important;
}

table tbody tr td.loss{
    color: var(--danger) !important;
}

footer{
    border-top: 2px solid var(--lightgray);
    padding: 13px;
    padding-bottom: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: var(--text1);
    opacity: .45;
}

.dark footer{
    border-top-color: var(--bg1);
}

.fixed-footer{
    width: 100vw;
    padding: 5px;
    position: fixed;
    bottom: 0;
    background: #191d29;
    display: flex;
    justify-content: center;
}

.fixed-footer button{
    width: calc(100% - 20px);
    max-width: max-content;
    font-family: 'Inter', sans-serif;
    padding: 7px 14px;
    color: var(--teal1);
    border: 1px solid var(--teal1);
    border-radius: 5px;
    text-wrap: wrap;
}

/* change table font size on dark mode */
@media only screen and (min-width: 869px){
    .dark table thead tr th{
        font-size: 24px;
    }

    .dark table tbody tr td{
        font-size: 24px;
    }
}

@media only screen and (max-width: 860px) {
    header .center-menu{
        gap: 10px;
    }
    header .center-menu li{
        margin-bottom: 10px;
    }
    .overview .box h1{
        font-size: 60px;
    }
  }

@media only screen and (max-width: 790px) {
    br{
        display: inline-block;
    }
  }

  @media only screen and (max-width: 768px) {
    br{
        display: none;
    }   

    header{
        flex-direction: column;
    }

    main{
        margin: 0 10px;
    }

    .overview .box{
        display: flex;
        flex-direction: column;
    }
    .overview .box h3{
        font-size: 14px;
    }
    .overview .box span{
        font-size: 10px;
    }
    .overview .box h2{
        font-size: 14px;
    }
    .overview .box h1{
        font-size: 20px;
    }
    .overview .box h4{
        font-size: 10px;
        text-wrap: wrap;
    }

    .table-wrapper{
        overflow-x: auto;
    }

    table{
        padding: 0;
    }

    table thead tr th{
        font-size: 10px;
    }

    table tr td{
        padding: 5px 0;
    }
    
  }

  @media only screen and (max-width: 488px) {
    br{
        display: none;
    }   

    header{
        flex-direction: column;
        align-items: center;
    }

    header .logo img{
        height: 50px;
    }

    main{
        margin: 0 10px;
    }
    
    .overview .box{
        display: flex;
        flex-direction: column;
    }
    .overview .box h3{
        font-size: 14px;
    }
    .overview .box span{
        font-size: 10px;
    }
    .overview .box h2{
        font-size: 14px;
    }
    .overview .box h1{
        font-size: 20px;
    }
    .overview .box h4{
        font-size: 10px;
        text-wrap: wrap;
        max-width: 120px;
    }

    .table-wrapper{
        overflow-x: auto;
    }

    table{
        padding: 0;
        width: fit-content;
    }

    table thead tr th{
        font-size: 10px;
    }

    table tr td{
        padding: 5px 0;
    }
    
  }
