<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hodlinfo</title>
    <link rel="icon" type="image/x-icon" href="assets/imgs/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
  </head>
  <body>
    <header>
      <a href="#" class="logo">
        <img src="assets/imgs/logo.png" alt="Hodlinfo" />
      </a>

      <ul class="center-menu">
        <li>
          <button>INR</button>
        </li>
        <li>
          <button>BTC</button>
        </li>
        <li>
          <a href="#">BUY BTC</a>
        </li>
      </ul>

      <ul class="right-menu">
        <li>
          <div class="progress-bar" id="progress-bar">
            <div class="counter" id="counter">60</div>
          </div>
        </li>
        <li>
          <a href="#">
            <img src="assets/imgs/telegram.png" alt="" />
            Connect Telegram
          </a>
        </li>
        <li>
          <input type="checkbox" id="themeInput" onchange="themeSwitcher()" />
          <label for="themeInput" class="theme-switcher">
            <div class="point"></div>
          </label>
        </li>
      </ul>
    </header>

    <main>
      <div class="overview">
        <div class="box">
          <h3>0.1<br />%</h3>
          <span>5 Min</span>
        </div>
        <div class="box">
          <h3>0.71<br />%</h3>
          <span>1 Hour</span>
        </div>
        <div class="box">
          <h2>Best Price to Trade</h2>
          <h1>₹<br />24,08,742</h1>
          <h4>Average BTC/INR net price including commission</h4>
        </div>
        <div class="box">
          <h3>7.41<br />%</h3>
          <span>1 Day</span>
        </div>
        <div class="box">
          <h3>10.65<br />%</h3>
          <span>7 days</span>
        </div>
      </div>

      <div class="table-wrapper">
        <table>
          <thead>
            <tr>
              <th>#</th>
              <th>Platform</th>
              <th>Last Traded Price</th>
              <th>Buy / Sell Price</th>
              <th>Difference</th>
              <th>Savings</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>1</td>
              <td>
                <a href="#">
                  <img src="assets/imgs/t1.png" alt="" />
                  WazirX
                </a>
              </td>
              <td>₹25,72,632</td>
              <td>₹25,72,500/25,72,632</td>
              <td class="loss">-3.14 %</td>
              <td class="loss">▼ 83,498</td>
            </tr>

            <tr>
              <td>2</td>
              <td>
                <a href="#">
                  <img src="assets/imgs/t2.png" alt="" />
                  Bitns
                </a>
              </td>
              <td>₹26,63,086</td>
              <td>₹26,63,056 / ₹26,63,057</td>
              <td class="profit">0.58 %</td>
              <td class="profit">▲ ₹22,398</td>
            </tr>

            <tr>
              <td>3</td>
              <td>
                <a href="#">
                  <img src="assets/imgs/t3.png" alt="" />
                  Colodax
                </a>
              </td>
              <td>₹25,48,035</td>
              <td>₹25,48,000/25,51,559</td>
              <td class="loss">-4.14 %</td>
              <td class="loss">▼ ₹1,10,094</td>
            </tr>

            <tr>
              <td>4</td>
              <td>
                <a href="#">
                  <img src="assets/imgs/t4.png" alt="" />
                  Zebpay
                </a>
              </td>
              <td>₹26,50,000</td>
              <td>₹26,50,000/26,50,000</td>
              <td class="loss">-0.23 %</td>
              <td class="loss">▼ ₹6,110</td>
            </tr>

            <tr>
              <td>5</td>
              <td>
                <a href="#">
                  <img src="assets/imgs/t5.png" alt="" />
                  CoinDCX
                </a>
              </td>
              <td>₹22,54,366</td>
              <td>₹22,90,804/23,44,784</td>
              <td class="loss">-3.76 %</td>
              <td class="loss">▼ ₹1,18,264</td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>

    <footer>
      <div class="left">
        Copyright © 2023
        <a href="https://chaitanya.netlify.com">Battu chaitanya</a>
      </div>
      <div class="right">Support</div>
    </footer>

    <div class="fixed-footer">
      <button>Add hodlinfo to home screen</button>
    </div>
    <script src="assets/js/script.js"></script>
  </body>
</html>
